extends layout 

block import 

block content 
    .container
        .row
            .col-md-12
                h1 Cart
                if cart
                    table.table.table-hover.table-bordered
                        thead
                            tr
                                th ID
                                th Quantity
                                th Remove
                        tbody
                            each product in cart
                                tr
                                    td #{product.ID}
                                    td #{product.QUANTITY}
                                    td
                                        a.btn.btn-danger(href=`/cart/remove/${product.ID}`) Remove
                else
                    p No items in cart